<app-header></app-header>

<div class="container mx-auto mt-10 mb-10 px-4 sm:px-6 lg:px-8">
  <div class="flex flex-col lg:flex-row">
    <!-- Sidebar de Filtros -->
    <aside class="w-full lg:w-1/4 bg-[#f7f7f7] p-6 rounded-lg shadow-md mb-6 lg:mb-0 lg:mr-6">
      <h2 class="text-xl font-bold mb-4 text-gray-800">Filtrar Eventos</h2>

      <!-- Filtro por Categoría -->
      <div class="mb-6">
        <label for="category" class="block text-sm font-medium text-gray-600">Categoría</label>
        <select id="category" [(ngModel)]="selectedCategory" (change)="filterEvents()" class="mt-2 block w-full bg-white border border-gray-300 rounded-lg shadow-sm focus:ring-[#BF843B] focus:border-[#BF843B]">
          <option value="">Todas</option>
          <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
        </select>
      </div>

      <!-- Filtro por Precio -->
      <div class="mb-6">
        <label for="price" class="block text-sm font-medium text-gray-600">Precio Máximo</label>
        <input type="number" id="price" [(ngModel)]="maxPrice" (input)="filterEvents()" placeholder="0" class="mt-2 block w-full bg-white border border-gray-300 rounded-lg shadow-sm focus:ring-[#BF843B] focus:border-[#BF843B]">
      </div>
    </aside>

    <!-- Contenido de Eventos -->
    <main class="w-full lg:w-3/4">
      <!-- Buscador -->
      <div class="mb-6">
        <input type="text" [(ngModel)]="searchTerm" (input)="filterEvents()" placeholder="Buscar eventos..." class="w-full bg-white border border-gray-300 rounded-lg shadow-sm focus:ring-[#BF843B] focus:border-[#BF843B] p-4 text-lg">
      </div>

      <!-- Tarjetas de Eventos -->
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
        <div *ngFor="let evento of filteredEvents" class="bg-white rounded-lg shadow-lg overflow-hidden transform hover:scale-105 transition-transform duration-300">
          <img [src]="evento.imagenUrl || 'path-to-default-image.png'" alt="Imagen del evento" class="w-full h-48 object-cover">
          <div class="p-6">
            <h3 class="text-xl font-bold text-gray-800">{{ evento.nombre }}</h3>
            <p class="text-gray-600 mt-4">{{ evento.descripcion || 'Descripción no disponible.' }}</p>
            <p class="text-[#BF843B] font-semibold mt-4">${{ evento.precio.toFixed(2) }}</p>
            <a (click)="checkAndReserve(evento.id!)" class="inline-block mt-6 bg-[#BF843B] text-white py-2 px-6 rounded-lg hover:bg-[#a06b2c] transition-colors">Ir a Reservar</a>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>

<app-footer></app-footer>
