/* Estilos generales para el header */
header {
    background-color: #322940;
  }
  
  nav {
    background-color: #322940;
  }
  
  /* Estilo del logo */
  nav img {
    height: 3rem; /* Ajusta el tamaño del logo si es necesario */
  }
  
  /* Estilo de los enlaces del menú */
  nav ul li a {
    color: #ffffff;
    font-weight: bold;
    transition: color 0.3s, transform 0.3s;
  }
  
  /* Efecto de hover en los enlaces del menú */
  nav ul li a:hover {
    color: #BF843B; /* Color de texto en hover */
    transform: scale(1.1); /* Escala en hover para efecto 3D */
  }
  
  /* Estilo del menú móvil */
  nav ul.md\\:hidden {
    display: none;
  }
  
  /* Estilo del icono de hamburguesa */
  button {
    font-size: 1.5rem;
  }
  
  /* Estilo del menú móvil abierto */
  nav ul[ngIf] {
    display: block;
    background-color: #322940;
    color: #ffffff;
    padding: 1rem;
  }
  