/* Estilos generales */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Contenedor principal */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Sección Historia y Orígenes */
.history-section {
  background-color: #1a202c; /* Oscuro */
  color: #fff;
}

.history-image img {
  width: 100%;
  height: auto;
}

/* Sección Misión, Visión y Valores */
.mission-vision-values {
  background: linear-gradient(to right, #ebf4ff, #ede8ff); /* Claro */
  color: #1a202c;
}


  
  /* Estilos generales para la sección Nuestro Equipo */
  .team-section {
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: #322940; /* Color de fondo de la sección */
  }
  
  .team-section h2 {
    font-size: 3rem;
    color: #ffffff; /* Color del texto del título */
  }
  
  .team-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    justify-content: center;
  }
  
  @media (min-width: 768px) {
    .team-grid {
      grid-template-columns: repeat(2, 1fr); /* Dos columnas para pantallas medianas */
    }
  }
  
  .team-member {
    transition: transform 0.3s ease-in-out;
  }
  
  .team-member:hover {
    transform: translateY(-10px); /* Efecto de elevación al hacer hover */
  }
  
  .team-photo {
    background-size: cover;
    background-position: center;
    padding-top: 100%;
    position: relative;
    border-radius: 0.75rem;
    overflow: hidden;
  }
  
  .overlay {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease;
  }
  
  .team-photo:hover .overlay {
    opacity: 1;
  }
  
  .team-info {
    margin-top: 1.5rem;
  }
  
  .team-info h3 {
    color: #ffffff; /* Color del nombre */
  }
  
  .team-info p {
    color: #BF843B; /* Color del rol */
  }
  





/* Estilos para diferentes dispositivos */ 
@media (max-width: 768px) { .team-grid { grid-template-columns: 1fr; }
.history-text, .history-image {
  text-align: center;
}

.team-photo {
  height: 200px;
}

}